<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dom sinhvien</title>
  </head>
  <body>
    <label for="html">Tên:</label>
    <input type="text" id="name" /> <br />
    <label for="html">Địa chỉ:</label>
    <input type="text" id="address" /> <br />
    <button id="addBtn">Thêm</button> <br />
    <ul id="list_student"></ul>
    <script type="text/javascript" src="/src/index.js"></script>
  </body>
</html>
